<form role="form" {{action 'submit' location on='submit'}}>
    <div class="form-group">
        <label {{bindAttr for="view.locationTextField.elementId"}}>Location</label>
        {{view Ember.TextField valueBinding="location" viewName="locationTextField" classNames="form-control" placeholder="Enter location"}}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>