/*!
 * That is the place to customize the twitter bootstrap
 *
 * Custom "Sassy CSS" variables are placed in the variables.scss file.
 *
 * All variables which flagged with "!default" in
 * bootstrap-sass/lib/_variables.scss will not overwritten.
 *
 * Valid variables can be found at the link see below.
 * http://getbootstrap.com/customize/#less-variables
 */
@import "variables";

@import "bootstrap-sass/lib/bootstrap";

body {
  margin-top: 50px;
}

#header {
  height: 400px;
  background: url(../images/background1920x400.png) center center no-repeat;
  background-size: cover;
}

#tagline {
  color: #fff;
  text-shadow: 0 0 5px #1E618D;
}

#logo {
  height: 400px;
  background: url(../images/logo240x400.png) center center no-repeat;
  background-size: contain;
}

footer {
  margin: 50px 0;
}
