/*!
$navbar-default-color: #edf4fa;
$navbar-default-bg: #edf4fa;
$navbar-inverse-bg: #edf4fa;
$navbar-inverse-color: #8bb5db;
$navbar-default-link-color: #1e618d;
$navbar-default-link-hover-color: #3c5b68;
$navbar-default-link-active-color: #3c5b68;
*/
