<div class="row">
    <div class="col-lg-12">
        <h2>Imprint</h2>
        <p>According to ยง 5 Telemediengesetz (TMG):</p>
        <p>Bernd Hoffmann</p>
        <p>Geisbergblick 1</p>
        <p>96123 Litzendorf</p>
        <p>Germany</p>
        <br>
        <p>Chief Content Officer according to ยง 55 Abs. 2 RStV:</p>
        <p>as stated above</p>
    </div>
</div>