<div class="row">
    <div class="col-lg-12">
        {{render 'error'}}
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4">
        {{render 'input'}}
    </div>
    <div class="col-lg-4 col-sm-4">
        {{render 'location'}}
    </div>
    <div class="col-lg-4 col-sm-4">
        {{render 'restaurant'}}
    </div>
</div>
